@use "../util" as util;

footer {
    margin-top: auto;
    border-radius: 0px;
    width: 100%;

    & .container {
        display: flex;
        background-color: util.$secondaryColor;
    }
    padding-top: 2rem;
    font-size: 15px;
    & h3 {
        font-size: 20px;
        margin-bottom: 20px;
        color: util.$mainColor;
    }
    & a {
        color: util.$mainColor;
        &:hover {
            color: util.$ctaColor;
        }
    }
    & ul li {
        margin-bottom: 10px;
    }
}